@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin : 0px;
    padding: 0px;
}

.front-page {
    background-image: url('./assets/land_back.jpg');
    background-repeat : no-repeat;
    background-size: cover;
    position: relative;
    height : 100vh;
    width : 100vw;
    overflow: hidden;
}

.navbar {
    font-family: Poppins;
    display: flex;
    position: sticky;
    padding: 20px;
    padding-top: 40px;
}

.left {
    position: absolute;
    left:10%;
    font-size: 2em;
    color : white;
}

.middle {
    position: absolute;
    left : 44%;
    right : 43%;
    display: flex;
    gap : 2vw;
    font-size: 1.1rem;
    /* background-color: red; */
}

.middle a{
    text-decoration: none;
    color: white;
}

.right {
    position: absolute;
    right : 10%;
}

.right button {
    border : none;
    padding: 10px;
    border-radius : 20px;
    color: black;
    background-color: green;
}

.welcome {
    /* background-color: red; */
    height : 100%;
    width : 100%;
    position: absolute;
    padding-top: 12%;
    padding-bottom: 20%;
}

.welcome-display {
    position: absolute;
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-display > :nth-child(1) {
    color : white;
    font-size: 3vw;
    font-weight : 700;
}
  
.welcome-display > :nth-child(2) {
    font-size: 5vw;
    font-weight: 800;
    color : yellowgreen;
}
  
.welcome-display > :nth-child(3) {
    width:50%;
    color : white;
    font-size: 1.7vw;
    text-align: center;
    margin-bottom: 30px;
}

.welcome-display > :nth-child(4) button{
    padding:20px;
    font-size: 1.6em;
    background-color: white;
    border : none;
    border-radius: 40px;
}