@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container-fluid {
    margin : 0px;
    padding: 0px;
}

.front-page {
    background-image: url('land_back.jpg');
    background-repeat : no-repeat;
    background-size: cover;
    position: relative;
    height : 100vh;
    width : 100vw;
    overflow: hidden;
}

.navbar {
    font-family: Poppins;
    display: flex;
    position: sticky;
    justify-content: space-between;
    padding: 20px;
    padding-top: 40px;
}

.left {
    display: flex;
    justify-content: center;
    width:30%;
    font-size: 2em;
    color : white;
}

.middle {
    width : 40%;
    display: flex;
    justify-content: center;
    gap : 2vw;
    font-size: 1.1rem;
}

.middle a{
    text-decoration: none;
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 30%;
}

.right > button {
    border : none;
    padding: 10px;
    border-radius : 20px;
    color: black;
    background-color: green;
}

.right > :nth-child(2) {
    display: none;
    border-radius : 5px;
    padding : 0px;
    background-color: transparent;
}

.more-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    width : 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    padding:10px;
    gap:10px;
    gap : 10px;
    font-size: 1.3em;
    display: none;
    z-index: 10000;
}

.more-options a {
    text-decoration: none;
    color : white;
}

.more-options > a:hover {
    color:green;
}

.welcome {
    /* background-color: red; */
    height : 100%;
    width : 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.welcome-display {
    position: absolute;
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-display > :nth-child(1) {
    color : white;
    font-size: 3.5em;
    font-weight : 700;
    text-align: center;
}
  
.welcome-display > :nth-child(2) {
    font-size: 6em;
    font-weight: 800;
    color : yellowgreen;
    text-align: center;
}
  
.welcome-display > :nth-child(3) {
    width:50%;
    color : white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.welcome-display > :nth-child(4) button{
    padding:20px;
    font-size: 1.6em;
    background-color: white;
    border : none;
    color: black;
    border-radius: 40px;
}

.second_page {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.companies > h3{
    color : white;
    text-align: center;
}
.companies
{
    display: flex;
    flex-direction: column;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:200px;
}
.grid_1 {
    display: flex;
    width : 73vw;
    height : 25vw;
    gap : 40px;
    /* background-color: red; */
}

.container1{
    width : 100%;
    height: 100%;
    position: relative;
}

.container1_rev{
    width : 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.grid_1 img{
    border-radius: 10px;
    position: absolute;
    height: 100%;
    width : 100%;
    filter: drop-shadow(5px 5px 15px rgb(214, 216, 214));
}

.container2 {
    position: relative;
    height: 100%;
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.third_page {
    background-color: black;
    color:white;
    font-family: Poppins;
    padding-top : 100px;
}

.topics_parent {
    gap : 30px;
}

.head2 {
    font-size:40px;
    font-weight: 650;
    text-align: center;
}

.head3 {
    font-size:30px;
}
.topics {
    background-color:#00b577;
    box-shadow: 15px 15px #c1fce4;
    color : black;
    border-radius: 6px;
    border: 3px solid black;
    outline: 3px solid black;
    padding: 20px;
    display: inline-block;
    font-weight: 600;
    max-width: 70vw;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.topics:hover {
    box-shadow: 10px 10px #c1fce4;
}


@media only screen and (max-width: 1050px) {
    .grid_1 {
        display: flex;
        flex-direction: column;
        width : 50vw;
        height : 90vw;
        gap: 20px;
    }
}

@media only screen and (max-width: 720px) {
    .grid_1 {
        gap : 10px;
        font-size: 13px;
    }
    .grid_1 h3
    {
        font-size: 18px;
    }
}

@media only screen and (max-width: 550px) {
    .grid_1 {
        gap : 10px;
        font-size: 9px;
    }

    .container2 {
        align-items: start;
    }

    .container1_rev {
        align-items: start;
    }
    .grid_1 h3
    {
        font-size: 15px;
    }
    .features > h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .right {
        align-items: end;
        width : 50%;
    }

    .left {
        justify-content: start;
        width : 50%;
    }

    .right > :nth-child(2) {
        display: block;
    }

    .right > :nth-child(1) {
        display: none;
    }

    .middle {
        display: none;
    }
}
@media only screen and (max-width: 1130px) {
    .welcome-display > :nth-child(1) {
        font-size: 3em;
    }

    .welcome-display > :nth-child(2) {
        font-size: 4.5em;
    }

    .welcome-display > :nth-child(3) {
        font-size: 1.7em;
        width: 75%;
    }

    .welcome-display > :nth-child(4) button {
        padding:15px;
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 850px) {

    .welcome-display > :nth-child(1) {
        font-size: 2.2em;
    }

    .welcome-display > :nth-child(2) {
        font-size: 3.7em;
    }

    .welcome-display > :nth-child(3) {
        font-size: 1.4em;
    }

    .welcome-display > :nth-child(4) button {
        padding:12px;
        font-size: 1.1em;
    }
}


@media only screen and (max-width: 560px) {
    .welcome-display > :nth-child(1) {
        font-size: 1.7em;
        margin-bottom: 20px;
    }
    .welcome-display > :nth-child(2) {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .welcome-display > :nth-child(3) {
        font-size: 1em;
        width: 100%;
    }

    .welcome-display > :nth-child(4) button {
        padding:10px;
        font-size: 1em;
    }

    .welcome {
        padding-bottom: 30%;
    }
}