@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    background-color: rgb(217, 255, 217);
    font-family: Poppins;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width : 100vw;
}

.head1{
    position: absolute;
    font-size: 60px;
    top : 7%;
    left : 5%;
}

.category {
    color: #00a86d;
}

.exit {
    background-color: transparent;
    border: none;
    position: absolute;
    right : 4%;
    top: 7%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    transition: transform 0.3s ease;
    gap: 5px;
}

.exitText {
    display: none;
    color:#00a86d;
    transition: transform 0.3s ease;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 500;
}

.exit:hover {
    transform: scale(1.2);
    background-color: white;
}

.exit:hover .exitText{
    display: block;
}

.question_box {
    background-color:#00b577;
    border-radius: 20px;
    padding: 40px;
    width : 70%;
}

.q_content {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.question-title {
    font-size: 30px;
    font-weight: 600;
}

.options {
    font-size: 20px;
    display: inline-block;
    padding: 10px;
}

.options > div {
    background-color: white;
    margin-left : 15px;
    border-radius: 10px;
    width: 40%;
    margin: 15px;
    display: inline-block;
    border: 3px solid black;
    box-shadow: 1rem 1rem 0 -0.25rem #d0f6e2, 1rem 1rem 0 0 black;
    transition: box-shadow 0.3s ease; 
    transition: transform 0.3s ease; 
    cursor: pointer;
    position: relative;
    padding: 15px;
}

.options > div:hover {
    box-shadow: 0.75rem 0.75rem 0 -0.25rem #d0f6e2, 0.75rem 0.75rem 0 0 black;
}

.sliders {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.prev {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.prevButton {
    display: none;
}

.nextButton {
    display: none;
}
.next {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.scoreboard {
    position: absolute;
    top:0;
    height: 100vh;
    width : 100vw;
    backdrop-filter: blur(15px);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    position: absolute;
    height: 50%;
    width:30%;
    padding: 30px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0.75rem 0.75rem 0 -0.25rem #d0f6e2, 0.75rem 0.75rem 0 0 black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 850px) {
    .q_content {
        display: flex;
        flex-direction: column;
    }

    .head1 {
        top : 2%;
        font-size: 40px;
    }

    .exit {
        top : 2%;
        right : 2%;
    }

    .exit img {
        height: 40px;
        width : 40px;
    }
    .options {
        min-height: none;
    }

    .options > div {
        width : 80%;
        font-size: 15px;
    }

    .question-title {
        font-size: 20px;
        font-weight: 500;
    }

    .question {
        justify-content: end;
    }

    .prev {
        padding: 10px;
    }

    .next {
        padding: 10px;
    }

    .exitText {
        font-size: 15px;
        font-weight: 450;
    }
}

@media only screen and (max-width: 640px) {
    .head1 {
        font-size: 30px;
    }

    .exit img{
        height: 25px;
        width : 25px;
    }

    .options > div{
        padding: 5px;
    }

    .question_box {
        height: 80%;
        overflow-y: scroll;
    }

    .prev {
        position: absolute;
        top:60%;
        left:1%;
        padding: 0;
        border: none;
        background-color: transparent;

    }

    .next {
        position: absolute;
        top:60%;
        right:1%;
        padding: 0;
        border: none;
        background-color: transparent;
    }

    .prevButton {
        display: inline-block;
        height: 40px;
        width: 40px;
    }

    .nextButton {
        display: inline-block;
        height: 40px;
        width: 40px;
    }

    .slider_hid{
        display: none;
    }
}

